<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions />
  <description>CI for Kara&apos;s website</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.35.0">
      <projectUrl>https://github.com/ajmeese7/karameese.com/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.12.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ajmeese7/karameese.com</url>
        <credentialsId>cf29af62-1020-4127-a36a-0cf60b39b346</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list" />
    <extensions />
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.35.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cloudbees.jenkins.GitHubSetCommitStatusBuilder plugin="github@1.35.0">
      <statusMessage>
        <content></content>
      </statusMessage>
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource" />
    </com.cloudbees.jenkins.GitHubSetCommitStatusBuilder>
    <hudson.plugins.build__timeout.BuildStepWithTimeout plugin="build-timeout@1.24">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>21</timeoutMinutes>
      </strategy>
      <buildStep class="hudson.tasks.Shell">
        <command>#!/bin/bash
sh ./setup.sh</command>
        <configuredLocalRules />
      </buildStep>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation />
      </operationList>
    </hudson.plugins.build__timeout.BuildStepWithTimeout>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter plugin="github@1.35.0">
      <commitShaSource class="org.jenkinsci.plugins.github.status.sources.BuildDataRevisionShaSource" />
      <reposSource class="org.jenkinsci.plugins.github.status.sources.AnyDefinedRepositorySource" />
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource" />
      <statusResultSource class="org.jenkinsci.plugins.github.status.sources.ConditionalStatusResultSource" />
      <statusBackrefSource class="org.jenkinsci.plugins.github.status.sources.BuildRefBackrefSource" />
      <errorHandlers>
        <org.jenkinsci.plugins.github.status.err.ChangingBuildStatusErrorHandler>
          <result>UNSTABLE</result>
        </org.jenkinsci.plugins.github.status.err.ChangingBuildStatusErrorHandler>
      </errorHandlers>
    </org.jenkinsci.plugins.github.status.GitHubCommitStatusSetter>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.20" />
  </buildWrappers>
</project>
