:root {
	--start-menu-width: 300px;
}

/* TODO: Come back and try to steal Aero transparency */
@font-face {
	font-family: "W95FA";
	src: url("W95FA/W95FA.otf") format("truetype"),
		url("W95FA/W95FA.woff") format("woff"),
		url("W95FA/W95FA.woff2") format("woff2");
}

/* Default styling */
::-webkit-scrollbar {
	width: 16px;
	background-color: #555;
	box-shadow: inset 0 0 10px #ccc;
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

::-webkit-scrollbar-corner {
	background-color: #555;
	box-shadow: inset 0 0 10px #ccc;
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

::-webkit-resizer {
	border-radius: 8px;
	background-color: #ccc;
	box-shadow: inset 0 0 10px #555;
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #ccc;
	box-shadow: inset 0 0 10px #555;
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

::-webkit-scrollbar-button {
	border-radius: 8px;
	background-color: #ccc;
	box-shadow: inset 0 0 10px #555;
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

.darkMode ::-webkit-scrollbar {
	width: 16px;
	background-color: #272727;
	box-shadow: inset 0 0 10px #383838;
}

.darkMode ::-webkit-scrollbar-corner {
	background-color: #272727;
	box-shadow: inset 0 0 10px #383838;
}

.darkMode ::-webkit-resizer {
	border-radius: 8px;
	background-color: #555;
	box-shadow: inset 0 0 10px #272727;
}

.darkMode ::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #555;
	box-shadow: inset 0 0 10px #272727;
}

.darkMode ::-webkit-scrollbar-button {
	border-radius: 8px;
	background-color: #555;
	box-shadow: inset 0 0 10px #272727;
}

.centered {
	margin-left: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.noselect {
	user-select: none;
}

.canselect {
	user-select: text;
}

iframe {
	user-select: none;
}

.darkMode a {
	color: #7f9fee;
}

.darkMode a:visited {
	color: #956adb;
}

button {
	background-color: #fff;
	box-shadow: inset 0 0 5px #ccc;
	border-radius: 5px;
	color: #333;
	border: 1px solid #333;
	outline: none;
	transition: 0.2s;
	cursor: inherit;
	user-select: none;
}

button:hover {
	box-shadow: inset 0 0 5px #aaa;
}

button:focus {
	box-shadow: inset 0 0 5px #999;
}

button:active {
	box-shadow: inset 0 0 10px #999;
}

.darkMode button {
	background-color: #272727;
	box-shadow: inset 0 0 5px #333;
	color: #ccc;
	border: 1px solid #ccc;
}

.darkMode button:hover {
	box-shadow: inset 0 0 5px #777;
}

.darkMode button:focus {
	box-shadow: inset 0 0 5px #777;
}

.darkMode button:active {
	box-shadow: inset 0 0 10px #777;
}

select {
	background-color: #fff;
	box-shadow: inset 0 0 5px #ccc;
	border-radius: 5px;
	color: #333;
	border: 1px solid #333;
	outline: none;
	transition: 0.2s;
	cursor: inherit;
}

select:hover {
	box-shadow: inset 0 0 5px #aaa;
}

select:focus {
	box-shadow: inset 0 0 5px #999;
}

select:active {
	box-shadow: inset 0 0 10px #999;
}

.darkMode select {
	background-color: #272727;
	box-shadow: inset 0 0 5px #333;
	color: #ccc;
	border: 1px solid #ccc;
}

.darkMode select:hover {
	box-shadow: inset 0 0 5px #777;
}

.darkMode select:focus {
	box-shadow: inset 0 0 5px #777;
}

.darkMode select:active {
	box-shadow: inset 0 0 10px #777;
}

input,
textarea {
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 0;
	color: #333;
	box-shadow: inset 0 0 5px #ccc;
	outline: none;
	transition: 0.2s;
	user-select: auto;
}

input:hover,
textarea:hover {
	box-shadow: inset 0 0 5px #aaa;
}

input:focus,
textarea:focus {
	box-shadow: inset 0 0 5px #999;
}

input:active,
textarea:active {
	box-shadow: inset 0 0 10px #999;
}

.darkMode input,
.darkMode textarea {
	background-color: #272727;
	border: 1px solid #ccc;
	color: #ccc;
	box-shadow: inset 0 0 5px #333;
}

.darkMode input:hover,
.darkMode textarea:hover {
	box-shadow: inset 0 0 5px #777;
}

.darkMode input:focus,
.darkMode textarea:focus {
	box-shadow: inset 0 0 5px #777;
}

.darkMode input:active,
.darkMode textarea:active {
	box-shadow: inset 0 0 10px #777;
}

hr {
	width: 100%;
	height: 2px;
	border: none;
	background-image: url(images/hr.png);
	background-size: 100% 2px;
}

a {
	cursor: url(cursors/pointer.png) 11 2, pointer;
}

#pagebody {
	margin: 0;
	background-color: #000;
}

div {
	position: absolute;
	overflow: hidden;
}

#weScreen div {
	position: relative;
	overflow: hidden;
}

#mastersaveframediv {
	display: none;
}

#monitor {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	transform-origin: 0 0;

	/* IDEA: Animate with https://codepen.io/P1N2O/pen/pyBNzX or https://codepen.io/alvarotrigo/pen/dyzgOER */
	background-image: conic-gradient(from 90deg at 1px 1px,
			#0000 90deg,
			rgba(255, 255, 255, 0.7) 0),
		linear-gradient(35deg,
			var(--cotton-candy),
			var(--barbie),
			var(--barney),
			var(--bsod),
			var(--blue-razz),
			var(--carribbean));
	background-size: 50px 50px, cover;
	filter: opacity(0.8);

	/* width of window borders */
	--windowBorderWidth: 3px;
}

#desktop {
	top: 0;
	left: 0;
	overflow: visible;
}

#win_startMenu_top {
	transition: all 0.35s ease 0s;
	width: var(--start-menu-width);
}

.appicon {
	display: inline-block;
	position: relative;
}

.appicon div {
	pointer-events: none;
}

.appicon_bg {
	width: 100%;
	height: 100%;
	background-size: contain !important;
	overflow: hidden;
	display: block;
}

.appicon_fg {
	width: 100%;
	height: 100%;
	background-size: contain !important;
}

.appicon_border {
	width: 100%;
	height: 100%;
	background: none;
	border-radius: 100%;
}

.appicon_nobg {
	width: 100%;
	height: 100%;
	background-size: contain !important;
	display: none;
}

.window {
	width: 525px;
	height: 300px;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 50;
	border-radius: 5px;
	transform-origin: 50% 0;
	box-shadow: 0 0 30px #000;

	/* experimental */
	transition: transform 0.3s, opacity 0.3s, border-radius 0.3s;
	transform: scale(0.5);
	transform-origin: 50%;
	opacity: 0;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.mobileMode .window,
.window.maximizedWindow {
	border-radius: 0;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.winAero {
	width: 605px;
	height: 360px;
	left: -40px;
	top: -40px;
	opacity: 1;
	background-position: -485px -260px;
	background-color: rgba(150, 150, 200, 0.5);
	background-blend-mode: screen;
}

.mobileMode .winAero:not(#tskbrAero),
.window.maximizedWindow .winAero {
	width: calc(100% + 80px) !important;
	height: calc(100% + 80px) !important;
	background-position: 40px 40px !important;
}

#tskbrAero {
	height: 72px;
	width: 1090px;
	left: -20px;
	top: -20px;
}

.winBimg {
	width: 100%;
	height: 100%;
	background-image: url(images/winimg.png);
}

.winRes {
	height: 100%;
	bottom: 0;
	width: 100%;
}

.winCap {
	font-size: 16px;
	top: 0px;
	left: var(--windowBorderWidth);
	padding-left: 23px;
	width: calc(100% - 92px - var(--windowBorderWidth) - var(--windowBorderWidth));
	white-space: nowrap;
	height: 32px;
	text-shadow: 0px 0px 2px #000;
	color: #fff;
	transition: opacity 0.5s;
}

.leftCaptionButtons .winCap {
	padding-left: 69px;
}

.winCap .legacyCaptionIcon {
	width: 32px;
	height: 32px;
}

.winCap .winCaptionTitle {
	position: relative;
	display: inline-block;
	padding-left: 8px;
	padding-right: 16px;
	height: 32px;
	line-height: 32px;
}

.winBgService {
	display: none;
	width: 0;
	height: 0;
	border: none;
}

.winHTML {
	width: calc(100% - 3px - var(--windowBorderWidth) - var(--windowBorderWidth));
	height: calc(100% - 32px - var(--windowBorderWidth));
	bottom: var(--windowBorderWidth);
	left: var(--windowBorderWidth);
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 3px;
}

.mobileMode .winHTML,
.window.maximizedWindow .winHTML {
	width: calc(100% - 3px) !important;
	height: calc(100% - 32px) !important;
	bottom: 0;
	left: 0 !important;
	border-radius: 0;
}

.winHTML.noPadding {
	padding-left: 0;
	width: calc(100% - var(--windowBorderWidth) - var(--windowBorderWidth));
}

.mobileMode .winHTML.noPadding,
.window.maximizedWindow .winHTML.noPadding {
	width: 100% !important;
}

.darkMode .winHTML {
	background-color: #272727;
	color: #ddd;
}

.darkResponsive {
	background-color: #fff;
	color: #000;
	border-color: #000;
}

.darkMode .darkResponsive {
	background-color: #272727;
	color: #ddd;
	border-color: #ddd;
}

.darkMode .darkInvert {
	filter: invert(1);
}

#NORAout {
	width: 100%;
	height: 95%;
	font-size: 12px;
	overflow: scroll;
}

#NORAout a {
	color: #0f0;
}

#NORAspeech {
	position: absolute;
	width: 10%;
	height: 5%;
	bottom: 0;
	left: 0;
}

#NORAin {
	position: absolute;
	left: 10%;
	bottom: 0;
	font-family: monospace;
	width: 80%;
	height: 5%;
	padding-top: 0;
	padding-bottom: 0;
}

#NORAbtn {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10%;
	height: 5%;
}

#BNGiframe {
	border: none;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

#helpDiv {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.helpItem {
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
	height: 128px;
	width: 100%;
	border-bottom: 1px solid;
}

.helpItem p {
	margin: 0px;
	padding: 0px;
}

.helpItem:hover {
	background-color: #ddd;
}

.darkMode .helpItem:hover {
	background-color: #222;
}

.helpItem .appicon {
	display: inline-block;
	width: 128px;
	height: 128px;
}

.helpItemText {
	display: inline-block;
	position: absolute;
	margin: 0px 5px;
	height: 100%;
	width: calc(100% - 128px - 10px);
}

.helpAppName {
	font-size: 24px;
}

.winExit {
	right: var(--windowBorderWidth);
}

.winExit:hover {
	background-color: rgba(255, 50, 50, 0.5);
	color: rgba(255, 255, 255, 0.5);
	box-shadow: none;
}

.winExit:active {
	background-color: rgba(200, 0, 0, 0.75);
}

.leftCaptionButtons .winExit {
	left: var(--windowBorderWidth);
	right: initial;
}

.winShrink,
.winBig,
.winFld,
.winExit {
	height: 17px;
	width: 16px;
	padding-left: 2px;
	padding-top: 1px;
	top: 5px;
	font-size: 24px;
	line-height: 14px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	box-shadow: 0 0 1px #000;
}

.winShrink:hover,
.winBig:hover,
.winFld:hover {
	background-color: rgba(100, 150, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	box-shadow: none;
}

.winShrink:active,
.winBig:active,
.winFld:active {
	background-color: rgba(50, 100, 200, 0.75);
}

.winShrink {
	right: calc(46px + var(--windowBorderWidth));
}

.leftCaptionButtons .winShrink {
	left: calc(46px + var(--windowBorderWidth));
	right: initial;
}

.winBig {
	right: calc(23px + var(--windowBorderWidth));
}

.mobileMode .winBig {
	display: none !important;
}

.leftCaptionButtons .winBig {
	left: calc(23px + var(--windowBorderWidth));
	right: initial;
}

.winFld {
	left: var(--windowBorderWidth);
	line-height: 24px;
}

.mobileMode .winFld {
	display: none !important;
}

.leftCaptionButtons .winFld {
	right: var(--windowBorderWidth);
	left: initial;
}

.winShrink,
.winBig,
.winExit,
.winFld {
	transition: 0.2s;
}

.app {
	width: 100px;
	height: 90px;
	border-radius: 5px;
	text-align: center;
	overflow: visible;
	transition: background-color 0.5s, opacity 0.5s;
}

.app:hover {
	background-color: #bbe;
	/*Aero theme if supported*/
	background-color: rgba(190, 190, 255, 0.6);
}

.app:active {
	transition: background-color 0.1s;
	background-color: #99f;
	/*Aero theme if supported*/
	background-color: rgba(150, 150, 255, 0.6);
}

.appIcon {
	font-family: Courier, monospace;
	color: #fff;
	text-shadow: 0px 0px 5px #000;
	width: 100px;
	font-size: 50px;
	overflow: visible;
}

.appIcon img {
	display: block;
	margin: auto;
	margin-top: 6px;
	max-height: 64px;
	max-width: 64px;
}

.appName {
	bottom: 0;
	color: #000;
	text-shadow: 0px 0px 2px #fff;
	font-size: 12px;
	text-align: center;
	width: 100px;
	height: 2em;
	overflow: inherit;
}

.app:hover .appName {
	overflow: visible;
}

#winmove {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 125;
	display: none;
}

#icomove {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 125;
	display: none;
}

#icnmove {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 125;
	display: none;
}

#winres {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 125;
	display: none;
}

#taskbar {
	bottom: 0;
	left: 0;
	user-select: none;
	height: 32px;
	color: #fff;
	text-shadow: 0px 0px 2px #000;
	font-family: Courier, monospace;
	font-size: 21px;
	z-index: 101;
	transform-origin: 15px 15px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

#taskbarIcons {
	height: 32px;
	max-width: calc(100% - 300px);
	overflow-x: auto;
	white-space: nowrap;
}

.mobileMode #taskbarIcons {
	max-width: calc(100% - 200px);
}

#taskbarIcons::-webkit-scrollbar {
	height: 1px !important;
	background: #626262 !important;
	box-shadow: none !important;
}

#taskbarIcons::-webkit-scrollbar-thumb {
	background: #bfbfbf !important;
	box-shadow: none !important;
	border-radius: 0;
}

#taskbarIcons::-webkit-scrollbar-button {
	display: none;
}

#taskbarIcons .icon {
	height: 32px;
	border-radius: 2px;
	display: none;
	position: static;
	transition: background-color 0.5s;
	padding-right: 5px;
}

#taskbarIcons .icon:hover {
	background: rgba(255, 255, 255, 0.1);
}

.taskbarIconTitle {
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	position: relative;
	display: inline-block;
	padding-left: 6px;
}

.mobileMode .taskbarIconTitle {
	display: none;
}

#taskbarIcons .icon.activeAppIcon {
	background: rgba(255, 255, 255, 0.25);
}

#taskbarIcons .icon.activeAppIcon:hover {
	background: rgba(255, 255, 255, 0.35);
}

#taskbarIcons .icon .iconOpenIndicator {
	position: relative;
	height: 5px;
	width: 34px;
	margin-top: 32px;
	margin-left: 5px;
	margin-bottom: -37px;
	transition: box-shadow 0.3s;
}

#taskbarIcons .icon.openAppIcon .iconOpenIndicator {
	box-shadow: 0 0 5px #fff;
}

#taskbarIcons .iconImg {
	margin-top: 5px;
	position: static;
	text-align: center;
}

#time {
	height: 32px;
	right: 2px;
	top: 0;
	text-align: right;
}

#compactTime {
	position: static;
	font-size: 12px;
	text-align: center;
	pointer-events: none;
	margin-top: 4px;
	height: 27px;
	width: 52px;
	margin-left: 3px;
	margin-right: 3px;
}

#ctxMenu {
	background-color: #fff;
	border: 1px solid #7f7f7f;
	color: #333;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	display: none;
	font-size: 12px;
	z-index: 200;
	padding: 2px;
	padding-left: 0;
	overflow-y: auto;
	max-height: 50%;
	background-size: 100%;
	background-origin: center;
	border-radius: 2px;
}

#ctxMenu.backdropFilterCtxMenu {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(5px);
}

.darkMode #ctxMenu {
	background-color: #272727;
	color: #ccc;
}

.darkMode #ctxMenu.backdropFilterCtxMenu {
	background-color: rgba(39, 39, 39, 0.7);
}

.darkMode #ctxMenu img {
	filter: invert(1);
}

#ctxMenu p {
	height: 1em;
	width: calc(100% - 4px);
	display: block;
	margin: 0;
	transition: 0.2s;
	padding: 2px;
	padding-left: 4px;
}

#ctxMenu p:hover {
	background-color: rgba(127, 127, 127, 0.3);
	box-shadow: none;
}

#ctxMenu p:active {
	background-color: rgba(127, 127, 127, 0.5);
	box-shadow: none;
}

#ctxMenu .hiddenCtxOption {
	opacity: 0.5;
	pointer-events: none;
}

#ctxMenu hr {
	margin: 1px 0 2px 0px;
	display: block;
	opacity: 0.5;
}

.darkMode #ctxMenu hr {
	margin: 2px 0 1px 0px;
}

#loadingBg {
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	top: -20px;
	left: -20px;
	z-index: 9999999999999998;
	transition: opacity 1s;
	background-color: #000;
	filter: blur(10px);
	background-position: center;
	background-size: cover;

	/* TODO: Redo this entirely with Kara's new design */
	background-image: conic-gradient(from 90deg at 1px 1px,
			#0000 90deg,
			rgba(255, 255, 255, 0.7) 0),
		linear-gradient(35deg, #fa87f4, #fe00c0, #9701ff, #4900ff, #01b9ff, #01fff8);
	background-size: 50px 50px, cover;
	filter: opacity(0.8);
}

#isLoading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	transition: 1s;
	z-index: 9999999999999999;
	color: 000;
}

#isLoadingDiv {
	position: absolute;
	left: 50%;
	top: 50%;
	background: #fff;
	text-align: center;
	padding: 32px;
	border-radius: 32px;
	box-shadow: 0 0 32px #000;
	overflow: auto;
	transform: translate(-50%, -50%);
}

#loadingInfo {
	font-family: monospace;
	font-size: 12px;
	line-height: 20px;
	width: 0;
	min-width: 0;
	max-width: 100%;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	overflow: visible;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
	background: #0a0;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	box-shadow: 0 -3px 0 #0a0;
}

#loadingInfo:before {
	content: "\00a0";
}

#loadingInfoDiv {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	background: #000;
	position: relative;
	display: inline-block;
	text-align: left;
	overflow: hidden;
}

#windowFrameOverlay {
	display: none;
	box-shadow: inset 0 0 10px #fff, 0 0 35px #000;
	pointer-events: none;
	z-index: 9999999999;
}

.mobileMode #windowFrameOverlay {
	display: none !important;
}

.cursorDefault {
	cursor: url(./cursors/aeroCursor.png) 3 2, default;
}

.cursorMove {
	cursor: url(./cursors/move.png) 16 15, move;
}

.cursorOpenHand {
	cursor: url(./cursors/movpre.png) 15 16, move;
}

.cursorCloseHand {
	cursor: url(./cursors/moving.png) 12 10, move;
}

.cursorPointer {
	cursor: url(./cursors/pointer.png) 11 2, pointer;
}

.cursorLoadDark {
	cursor: url(./cursors/wait.png) 14 13, wait;
}

.cursorForceLoad {
	cursor: url(./cursors/wait.png) 14 13, wait !important;
}

.widget {
	padding-top: 1px;
	height: 31px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	position: static;
	display: inline-block;
	background: rgba(255, 255, 255, 0);
	transition: background-color 0.3s;
}

.widget:hover {
	background: rgba(255, 255, 255, 0.25);
}

.widget:active {
	background: rgba(255, 255, 255, 0.1);
}

#widgetMenu {
	right: 16px;
	bottom: 0px;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	border: 2px solid;
	font-size: 12px;
	box-shadow: 0 0 20px #000;
	transition: 0.3s;
	z-index: 100;

	opacity: 0;
	pointer-events: none;
	bottom: -350px;
}

#widgetTitle {
	font-size: 24px;
	left: 2px;
	top: 2px;
	max-width: calc(100% - 20px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline;
}

#widgetContent {
	bottom: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 2em - 4px);
	overflow: auto;
}

#notifContainer {
	right: 16px;
	bottom: 16px;
	text-align: right;
	z-index: 110;
	overflow: visible;
	max-height: 100%;
	min-height: 100px;
	min-width: 300px;
	overflow-y: auto;
	padding-left: 16px;
	padding-top: 16px;
	transition: 0.3s;

	opacity: 0;
	pointer-events: none;
	right: -350px;
}

#notifications {
	position: relative;
	max-height: 90%;
	overflow: visible;
}

.notifWindow {
	text-align: left;
	display: inline-block;
	position: relative;
	margin-top: 16px;
	min-height: 100px;
	min-width: 300px;
	border-radius: 5px;
	border: 2px solid;
	font-size: 12px;
	box-shadow: 0 0 16px #000;
	opacity: 0.8;
	transition: 0.3s;
}

.notifWindow:hover {
	opacity: 1;
}

.notifTitle {
	font-size: 24px;
	left: 2px;
	top: 2px;
	width: calc(100% - 4px);
	height: 1em;
}

.notifContent {
	bottom: calc(10px + 1em);
	left: 2px;
	width: calc(100% - 56px);
	height: calc(100% - 3em - 12px);
	overflow: auto;
}

.notifButtons {
	right: 2px;
	bottom: 2px;
}

.notifImage {
	position: absolute;
	display: block;
	right: 2px;
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	border: none;
}

.flowDesktop #desktop {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	background-blend-mode: overlay;
}

.flowDesktop .window {
	transform-origin: 50% !important;
	transform: scale(0.75) !important;
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
	display: inline-block !important;
	opacity: 1 !important;
}

.flowDesktop.mobileMode .window {
	width: 50% !important;
	height: 50% !important;
}

.flowDesktop .window.closedWindow {
	width: 0 !important;
	height: 0 !important;
}

.flowDesktop #winDsB,
.flowDesktop #winNRA {
	display: none !important;
}

.flowDesktop #win_startMenu_top,
.flowDesktop #win_nora_top {
	display: none !important;
}

.flowDesktop .winHTML,
.flowDesktop .winCap,
.flowDesktop .winRes {
	pointer-events: none !important;
}

.flowDesktop .winShrink,
.flowDesktop .winFld,
.flowDesktop .winBig {
	opacity: 0 !important;
	pointer-events: none !important;
}

.flowDesktop .app {
	opacity: 0 !important;
	pointer-events: none !important;
}

.flowDesktop .winCap {
	opacity: 1 !important;
}

#widgetMenu .winExit,
.notifWindow .winExit {
	color: #000;
	border-color: #000;
	top: 3px;
}

.darkMode #widgetMenu .winExit,
.darkMode .notifWindow .winExit {
	color: #fff;
	border-color: #fff;
}

#liveBackground {
	position: absolute;
	display: none;
	border: none;
	background: #fff;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.full-iframe {
	padding: 0;
	color: #000;
	border: none;
	resize: none;
	display: block;
	width: 100%;
	height: 100%;
}

#accreditationDisplay {
	background-color: #01fff8;
	text-align: center;
	overflow-y: scroll;
}

#adage {
	display: block;
	width: 100%;
	margin: auto;
	margin-top: 5px;
	font-weight: bold;
}

#MPlframe,
#VWcframe,
#oldSiteFrame {
	border: none;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#messagingDisplay {
	width: 100%;
	height: 100%;
}

#contactForm label,
#contactForm input {
	display: block;
	margin: 3px;
}

#contactForm input[type="text"],
#contactForm input[type="email"] {
	width: 200px;
}

#contactForm textarea {
	margin: 5px;
	width: calc(100% - 15px);
}

#sendMessage {
	float: right;
	margin-right: 5px;
	background-color: var(--windows-gray);
}

#findScrollSize {
	height: 100px;
	width: 100px;
	overflow: scroll;
}

#fileSearch {
	width: calc(100% - 96px);
	min-width: calc(70% + 48px);
	right: 0;
	height: 50px;
}

#fileSearch div[title="Back"] {
	width: 34px;
	height: 18px;
	padding-top: 2px;
	left: 5px;
	top: 4px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}

#fileSearch div[title="Home"] {
	width: 24px;
	border-left: 1px solid #333;
	height: 18px;
	padding-top: 2px;
	left: 30px;
	top: 4px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
}

#filePath {
	left: 55px;
	font-family: monospace;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	width: calc(100% - 110px);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#filePathInput {
	background: transparent;
	box-shadow: none;
	color: inherit;
	font-family: monospace;
	border: none;
	width: calc(100% - 8px);
	height: 25px;
	padding: 0;
	padding-left: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#fileSearchDiv {
	left: 55px;
	top: 26px;
	font-family: monospace;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	width: calc(100% - 110px);
}

#fileSearchInput {
	background: transparent;
	box-shadow: none;
	color: inherit;
	font-family: monospace;
	border: none;
	width: calc(100% - 8px);
	height: 20px;
	padding: 0;
	padding-left: 8px;
}

#fileManagerSidebar {
	overflow-y: scroll;
	border-top-left-radius: 5px;
	font-family: W95FA, Courier, monospace;
	font-size: 12px;
	width: 144px;
	max-width: 30%;
	padding: 3px;
	height: calc(100% - 56px);
	top: 50px;
}

#appSearch {
	width: calc(100% - 6px);
	margin-top: 3px;
}

#fileManagerDisplay {
	background-color: white;
}

#fileManagerTopbar {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#backArrow {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
}
#fileManagerPath,
#fileManagerSearch {
	display: block;
}
#fileManagerPath {
	width: 200px;
	margin-right: 10px;
}

.sidebarItem {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebarItem p {
	margin: 0;
}

.sidebarIcon {
	width: 25px;
	height: 25px;
	aspect-ratio: 1;
	margin-right: 5px;
}

.fileManagerContentItem {
	overflow: visible;
	margin: 0;
	text-align: center;
}

.folderIcon,
.fileIcon {
	width: 80%;
	height: 80%;
	object-fit: cover;
	display: block;
	margin: auto;

	/* TODO: Convert this to JavaScript for automatic sizing */
	mask-image:
		url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="5" y="5" width="90" height="90"/></g></svg>');
	mask-size: cover;
	-webkit-mask-image:
		url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="5" y="5" width="90" height="90"/></g></svg>');
	-webkit-mask-size: cover;
}

#fileManagerContent {
	height: calc(100% - 3px);
	overflow-y: scroll;
	font-size: 12px;
	width: calc(100% - 151px);
	border-top-right-radius: 5px;
	right: 0;
	height: calc(100% - 50px);
	top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

#fileManagerContent>div {
	position: relative;
	white-space: nowrap;
	display: inline-block;
	height: 100px;
	width: 100px;
}

#fileManagerContent>div:hover {
	background-color: #aaa;
}

.darkMode #fileManagerContent>div:hover {
	background-color: #555;
}

#fileManagerContent>.empty-directory {
	width: auto;
	height: auto;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#fileManagerContent>.empty-directory:hover {
	background-color: transparent;
}

#fileManagerContent>.empty-directory img {
	width: 200px;
	display: block;
	margin: auto;
	filter: opacity(0.75);
}

#fileManagerContent>.empty-directory p {
	text-align: center;
	color: gray;
}

.sidebarCategories img {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 3px;
	width: 10px;
	height: 10px;
}

.darkMode #fileManagerContent img {
	filter: invert(1);
}

#fileManagerContent .appicon {
	width: 16px;
	height: 16px;
	margin-top: 0;
	margin-bottom: -5px;
	margin-left: 1px;
}

#fileManagerContent .appicon {
	margin-top: -1px;
	margin-bottom: -5px;
}
